@font-face {
  font-family: "MountainsofChristmas";
  src: url('./fonts/MountainsofChristmas-Bold.ttf'),
    url('./fonts/MountainsofChristmas-Regular.ttf')
}

@font-face {
  font-family: "Modesty";
  src: url('./fonts/Modesty.woff2')
}

@font-face {
  font-family: "HandWritten";
  src: url('./fonts/HandWritten.woff2')
}

@font-face {
  font-family: "Seto";
  src: url('./fonts/Seto.woff2')
}